# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# bitfile
fpgaInterface/bitfile

# Vscode setting
.vscode/

# Mac metadata
.DS_Store